.listedStock {
  max-width: 100px;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  margin: 8px;

  .stockName {
    font-weight: bold;
    font-size: 24px;
  }

  .stockAmount {
    color: gray;
  }
  .priceMetrics {
    display: flex;
    justify-content: space-between;
    .stockPrice {
      font-weight: bold;
    }
  }
}

.listedMetric:hover {
  cursor: pointer;
}
